<div class="container theme00" >
    <!-- BREADCRUMB -->
    <div class="dk-breadcrumb center-xs">
        <!-- MENU BTN -->
        <div class="dk-icon-menu">
            <i class="fa fa-ellipsis-v"></i>
        </div>
        <!-- // -->
    </div>
    
    <!-- <div class="dk-progress"></div> -->
    <div id="progressBar"><div id="x-perc_bar"></div></div>
    
    <!--- Slides CONTENTS -->
    <div id="x-content" style="overflow: hidden;"></div>
    <!-- // -->
</div>

<!--MODAL -->
<div id="dk-menu-dialog" class="dk-menu-dialog blur row middle-xs center-xs toukai"></div>

<!--InterfaxSounds-->
<!-- LOOP -->
<audio id="audio_loop" loop>
    <source src="sounds/mii_loop.mp3" type="audio/mpeg">
</audio>
<audio id="audio_intro">
    <source src="sounds/mii_intro.mp3" type="audio/mpeg">
</audio>
<audio id="voice_intro">
    <source src="sounds/mii_voice.mp3" type="audio/mpeg">
</audio>
<!-- // -->
<audio id="voice_intro_01">
    <source src="sounds/mii_voice_01.mp3" type="audio/mpeg">
</audio>
<audio id="voice_intro_02">
    <source src="sounds/mii_voice_02.mp3" type="audio/mpeg">
</audio>
<audio id="voice_intro_03">
    <source src="sounds/mii_voice_03.mp3" type="audio/mpeg">
</audio>
<audio id="voice_intro_04">
    <source src="sounds/mii_voice_04.mp3" type="audio/mpeg">
</audio>
<!-- // -->
<audio id="audio_activity">
    <source src="sounds/mii_activity.mp3" type="audio/mpeg">
</audio>
<!-- // -->

<audio id="click_sound">
    <source src="sounds/slide-paper.mp3" type="audio/mpeg">
</audio>
<audio id="button_sound">
    <source src="sounds/button.mp3" type="audio/mpeg">
</audio>
<audio id="popup_sound">
    <source src="sounds/popUp.mp3" type="audio/mpeg">
</audio>
<audio id="drag_sound">
    <source src="sounds/nice.mp3" type="audio/mpeg">
</audio>
<audio id="feed_sound">
    <source src="sounds/feed.mp3" type="audio/mpeg">
</audio>
<audio id="correct_sound">
    <source src="sounds/button.mp3" type="audio/mpeg">
</audio>
<audio id="incorrect_sound">
    <source src="sounds/feedWrong.mp3" type="audio/mpeg">
</audio>